.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}
.logomodal{
  pointer-events: none;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.App-logo1 {
  height: 40vmin;
  pointer-events: none;
}

.App-logo2 {
  height: 70%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  
}

.App-footer {
  background-color: #666565;
  max-height: 30%;
  
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: #fcfcfd;
  
}

.App-link {
  color: #61dafb;
}

/* override bootstrap navbar colors */

.links{
  color: lightgray !important;
  text-transform: uppercase;
  font-size: larger;
  margin: 5px;
}
.navbrand{
  color: whitesmoke !important;
  text-transform: uppercase;
  font-size: 250% !important;
  padding: 2%;
}
.navbar{
  background-color: #0BCBFF !important;
  font-Family :"Arial Rounded MT Bold";
}



.forminput{
  margin:5%;
}
.forminputpass{
  margin: 2%;
  border: #282c34;
  font-weight: 600;
}

.iconcredits{
  font-size: x-small;
  color: #282c34;
}

.botform{
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

